@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    margin: 0;
}

:root{
    --primary : white;
    --colorText : rgb(0, 183, 255);
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: black;
}

header{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 1.5rem;
    padding: 1rem;
}

.tasks-list{
    padding-inline-start: 0;
    list-style: none;
    text-align: center;
}

.tasks-list a{
    text-decoration: none;
    color: white;
}

.tasks-list li{
    cursor: pointer;
    margin: 2.5rem auto;
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid var(--colorText);
    border-radius: 0.5rem;
    width: 50%;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.tasks-list li:hover{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}

footer{
    color: white;
    text-align: center;
    margin: 5rem auto;
}