@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root{
    --primary : white;
    --secondary : rgb(2, 113, 211);
    --colorText : rgb(0, 183, 255);
}

*{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: black;
    color: var(--primary);
    text-align: center;
}

header{

    margin: 3rem auto 3rem;
    font-size: 1.5rem;
    color: var(--colorText);
}

section{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
}
section label{
    display: block;
    margin: 1rem auto;
    font-size: 1.6rem;
}

section input{
    color: white;
    text-align: center;
    background-color: black;
    border: 2px solid var(--colorText);
    max-width: 80%;
    caret-color: white;
    margin: auto;
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

section input:focus{
    outline: none;
}

section #calc-button{
    cursor: pointer;
    max-width: 50%;
    margin: 2rem auto 1rem;
    background-color: var(--colorText);
    color: white;
    padding: 0.6rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.formula{
    margin: 0rem auto 1.5rem;
}
.formula h3{
    color: var(--colorText);
}
#result-msg{
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem auto 2rem;
}

#result-msg span{
    color: var(--colorText);
}